if ARCH_MX5

config MX5
	bool
	default y

config MX51
	bool

config MX53
	bool

choice
	prompt "MX5 board select"
	optional

config TARGET_USBARMORY
	bool "Support USB armory"
	select CPU_V7

config TARGET_MX53CX9020
	bool "Support CX9020"
	select BOARD_LATE_INIT
	select CPU_V7
	select MX53
	select DM
	select DM_SERIAL

config TARGET_NITROGEN51_VM
	bool "Support Boundary Devices nitrogen51_vm board"
	select CPU_V7

endchoice

config SYS_SOC
	default "mx5"

source "board/beckhoff/mx53cx9020/Kconfig"
source "board/boundary/nitrogen51_vm/Kconfig"
source "board/inversepath/usbarmory/Kconfig"

endif
