if TARGET_PER

config SYS_CPU
	default "armv7"

config SYS_BOARD
	default "per"

config SYS_VENDOR
	default "boundary"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "per"

source "board/boundary/common/Kconfig"

endif
