if TARGET_H4

config SYS_CPU
	default "armv7"

config SYS_BOARD
	default "h4"

config SYS_VENDOR
	default "boundary"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "h4"

source "board/boundary/common/Kconfig"

endif
