if TARGET_ASH8MM

config SYS_BOARD
	default "ash8mm"

config SYS_VENDOR
	default "boundary"

config SYS_CONFIG_NAME
	default "ash8mm"

config SWM_DISPLAY_00_A
	hex "switch mask(low part) for display TX23D200_18L"
	default 0

config SWM_DISPLAY_00_B
	hex "switch mask(high part) for display TX23D200_18L"
	default 0

config SWM_DISPLAY_24_A
	hex "switch mask(low part) for display AM_1280800P2TZQW"
	default 0

config SWM_DISPLAY_24_B
	hex "switch mask(high part) for display AM_1280800P2TZQW"
	default 0

config SWM_DISPLAY_38_A
	hex "switch mask(low part) for display ELHC070IK40057"
	default 0

config SWM_DISPLAY_38_B
	hex "switch mask(high part) for display ELHC070IK40057"
	default 0

source "board/boundary/common/Kconfig"

endif
