if TARGET_AP

config SYS_CPU
	default "armv7"

config SYS_BOARD
	default "ap"

config SYS_VENDOR
	default "boundary"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "ap"

config ENV_WLMAC
	bool
	default	y

source "board/boundary/common/Kconfig"

endif
