choice
	prompt	"Boundary i.MX6 board select"
	optional

config TARGET_A
	bool "a"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_ACL
	bool "acl"
	select HAS_CAAM
	select MX6_SMP

config TARGET_AP
	bool "ap"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_ASH
	bool "ash"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_ASH2
	bool "ash2"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_BT
	bool "bt"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_BT2
	bool "bt2"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_CAD
	bool "cad"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_CID
	bool "cid"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_CID_TAB
	bool "cid_tab"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_CNT
	bool "cnt"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_COB
	bool "cob"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_COB2
	bool "cob2"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_DASH
	bool "dash"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_EO
	bool "eo"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_H
	bool "h"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_H4
	bool "h4"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_HL
	bool "hl"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_HP
	bool "hp"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_INSP
	bool "insp"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_IOC
	bool "ioc"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_JLM
	bool "jlm"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_LS
	bool "ls"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_LSHORE
	bool "lshore"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_LTCH
	bool "ltch"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_MCS
	bool "mcs"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_MED
	bool "med"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_MTP
	bool "mtp"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_MX6_R
	bool "mx6_r"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_NEOL
	bool "neol"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_NIT6XLITE
	bool "nit6xlite"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_NITROGEN6_MAX
	bool "nitrogen6_max"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_NITROGEN6_SCM
	bool "nitrogen6_scm"
	depends on MX6SX

config TARGET_NITROGEN6_SOM2
	bool "nitrogen6_som2"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_NITROGEN6_VM
	bool "nitrogen6_vm"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_NITROGEN6SX
	bool "nitrogen6sx"
	depends on MX6SX

config TARGET_NITROGEN6X
	bool "nitrogen6x"
	depends on MX6DL || MX6Q || MX6QDL || MX6S
	imply USB_ETHER_ASIX
	imply USB_ETHER_MCS7830
	imply USB_ETHER_SMSC95XX
	imply USB_HOST_ETHER

config TARGET_NW
	bool "nw"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_OC
	bool "oc"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_PER
	bool "per"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_RC
	bool "rc"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_RTA
	bool "rta"
	depends on MX6ULL
	select BOARD_LATE_INIT

endchoice

source "board/boundary/a/Kconfig"
source "board/boundary/acl/Kconfig"
source "board/boundary/ap/Kconfig"
source "board/boundary/ash/Kconfig"
source "board/boundary/ash2/Kconfig"
source "board/boundary/bt/Kconfig"
source "board/boundary/bt2/Kconfig"
source "board/boundary/cad/Kconfig"
source "board/boundary/cid/Kconfig"
source "board/boundary/cid_tab/Kconfig"
source "board/boundary/cnt/Kconfig"
source "board/boundary/cob/Kconfig"
source "board/boundary/cob2/Kconfig"
source "board/boundary/dash/Kconfig"
source "board/boundary/eo/Kconfig"
source "board/boundary/h/Kconfig"
source "board/boundary/h4/Kconfig"
source "board/boundary/hl/Kconfig"
source "board/boundary/hp/Kconfig"
source "board/boundary/insp/Kconfig"
source "board/boundary/ioc/Kconfig"
source "board/boundary/jlm/Kconfig"
source "board/boundary/ls/Kconfig"
source "board/boundary/lshore/Kconfig"
source "board/boundary/ltch/Kconfig"
source "board/boundary/mcs/Kconfig"
source "board/boundary/med/Kconfig"
source "board/boundary/mtp/Kconfig"
source "board/boundary/mx6_r/Kconfig"
source "board/boundary/neol/Kconfig"
source "board/boundary/nit6xlite/Kconfig"
source "board/boundary/nitrogen6_max/Kconfig"
source "board/boundary/nitrogen6_scm/Kconfig"
source "board/boundary/nitrogen6_som2/Kconfig"
source "board/boundary/nitrogen6_vm/Kconfig"
source "board/boundary/nitrogen6sx/Kconfig"
source "board/boundary/nitrogen6x/Kconfig"
source "board/boundary/nw/Kconfig"
source "board/boundary/oc/Kconfig"
source "board/boundary/per/Kconfig"
source "board/boundary/rc/Kconfig"
source "board/boundary/rta/Kconfig"
