choice
	prompt	"Boundary i.MX8M board select"
	optional

config TARGET_BIO
	bool "bio"
	select IMX8MQ
	select SUPPORT_SPL

config TARGET_DWE
	bool "dwe"
	select IMX8MM
	select SUPPORT_SPL

config TARGET_HL8MM
	bool "hl8mm"
	select IMX8MM
	select SUPPORT_SPL

config TARGET_MOO
	bool "moo"
	select IMX8MM
	select SUPPORT_SPL

config TARGET_NITROGEN8_LITE
	bool "nitrogen8_lite"
	select SUPPORT_SPL

config TARGET_NITROGEN8_NANO
	bool "nitrogen8_nano"
	select SUPPORT_SPL

config TARGET_NITROGEN8M
	bool "nitrogen8m"
	select IMX8MQ
	select SUPPORT_SPL

config TARGET_NITROGEN8M_SOM
	bool "nitrogen8m_som"
	select IMX8MQ
	select SUPPORT_SPL

endchoice

source "board/boundary/bio/Kconfig"
source "board/boundary/dwe/Kconfig"
source "board/boundary/hl8mm/Kconfig"
source "board/boundary/moo/Kconfig"
source "board/boundary/nitrogen8_lite/Kconfig"
source "board/boundary/nitrogen8_nano/Kconfig"
source "board/boundary/nitrogen8m/Kconfig"
source "board/boundary/nitrogen8m_som/Kconfig"
