choice
	prompt	"Boundary i.MX6 board select"
	optional

config TARGET_A
	bool "a"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_ACL
	bool "acl"
	select HAS_CAAM
	select MX6_SMP

config TARGET_AP
	bool "ap"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_ASH
	bool "ash"
	depends on MX6DL || MX6Q || MX6QDL || MX6S

config TARGET_NITROGEN6X
	bool "nitrogen6x"
	depends on MX6DL || MX6Q || MX6QDL || MX6S
	imply USB_ETHER_ASIX
	imply USB_ETHER_MCS7830
	imply USB_ETHER_SMSC95XX
	imply USB_HOST_ETHER

endchoice

source "board/boundary/a/Kconfig"
source "board/boundary/acl/Kconfig"
source "board/boundary/ap/Kconfig"
source "board/boundary/ash/Kconfig"
source "board/boundary/nitrogen6x/Kconfig"
