choice
	prompt	"Boundary i.MX8M board select"
	optional

config TARGET_ASH8MM
	bool "ash8mm"
	select BINMAN
	select IMX8MM
	select SUPPORT_SPL

config TARGET_BIO
	bool "bio"
	select BINMAN
	select IMX8MQ
	select SUPPORT_SPL

config TARGET_C2_IMX8MM
	bool "c2-imx8mm"
	select BINMAN
	select IMX8MM
	select SUPPORT_SPL

config TARGET_C2_MID
	bool "c2-mid"
	select BINMAN
	select IMX8MM
	select SUPPORT_SPL

config TARGET_CLE
	bool "cle"
	select BINMAN
	select IMX8MM
	select SUPPORT_SPL

config TARGET_CRS
	bool "crs board"
	select BINMAN
	select IMX8MP
	select SUPPORT_SPL

config TARGET_DS
	bool "ds"
	select BINMAN
	select IMX8MQ
	select SUPPORT_SPL

config TARGET_DWE
	bool "dwe"
	select BINMAN
	select IMX8MM
	select SUPPORT_SPL

config TARGET_EM
	bool "em"
	select BINMAN
	select IMX8MM
	select SUPPORT_SPL

endchoice

source "board/boundary/ash8mm/Kconfig"
source "board/boundary/bio/Kconfig"
source "board/boundary/c2-imx8mm/Kconfig"
source "board/boundary/c2-mid/Kconfig"
source "board/boundary/cle/Kconfig"
source "board/boundary/crs/Kconfig"
source "board/boundary/ds/Kconfig"
source "board/boundary/dwe/Kconfig"
source "board/boundary/em/Kconfig"
