if TARGET_NITROGEN8MM_SOM || TARGET_NITROGEN8MN_SOM

config BOARD_TYPE
	string
	depends on IMX8MN
	default "nitrogen8mn_som" if IMX8MN

config SYS_BOARD
	default "nitrogen8mm_som"

config SYS_VENDOR
	default "boundary"

config SYS_CONFIG_NAME
	default "nitrogen8mm_som"

source "board/boundary/common/Kconfig"

endif
