if TARGET_NITROGEN6_VM

config SYS_CPU
	default "armv7"

config SYS_BOARD
	default "nitrogen6_vm"

config SYS_VENDOR
	default "boundary"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "nitrogen6_vm"

source "board/boundary/common/Kconfig"

endif
