if TARGET_MCS

config SYS_CPU
	default "armv7"

config SYS_BOARD
	default "mcs"

config SYS_VENDOR
	default "boundary"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "mcs"

source "board/boundary/common/Kconfig"

endif
