if TARGET_JLM

config SYS_BOARD
	default "jlm"

config SYS_VENDOR
	default "boundary"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "jlm"

config ENV_WLMAC
	bool
	default	y

source "board/boundary/common/Kconfig"

endif
