if TARGET_NITROGEN8MM_SOM || TARGET_NITROGEN8MM

config SYS_BOARD
	default "nitrogen8mm"

config SYS_VENDOR
	default "boundary"

config SYS_CONFIG_NAME
	default "nitrogen8mm"

config IMX_CONFIG
        default "board/boundary/nitrogen8mm/imximage-8mm.cfg"

config IMX8M_1G_MEMORY
        bool "imx8m 1GB memory size"

config DEFCONFIG
	string "unknown"

endif
