/*
 * Copyright (C) 2013 Boundary Devices
 *
 * SPDX-License-Identifier:	GPL-2.0+
 *
 * Refer doc/README.imximage for more details about how-to configure
 * and create imximage boot image
 *
 * The syntax is taken as close as possible with the kwbimage
 */

/* image version */
IMAGE_VERSION 2

/*
 * Boot Device : one of
 * spi, sd (the board has no nand neither onenand)
 */
BOOT_FROM      spi

#define __ASSEMBLY__
#include <config.h>
#include "asm/arch/mx6-ddr.h"
#include "asm/arch/iomux.h"
#include "asm/arch/crm_regs.h"

/* 5 board sample */
#define MX6_MMDC_P0_MPDGCTRL0_VAL	0x42310231
#define MX6_MMDC_P0_MPDGCTRL1_VAL	0x02180219
#define MX6_MMDC_P1_MPDGCTRL0_VAL	0x420c0214
#define MX6_MMDC_P1_MPDGCTRL1_VAL	0x02030207
#define MX6_MMDC_P0_MPRDDLCTL_VAL	0x42474b4e
#define MX6_MMDC_P1_MPRDDLCTL_VAL	0x46464a41
#define MX6_MMDC_P0_MPWRDLCTL_VAL	0x39342c29
#define MX6_MMDC_P1_MPWRDLCTL_VAL	0x3232322e
#define MX6_MMDC_P0_MPWLDECTRL0_VAL	0x0040004b
#define MX6_MMDC_P0_MPWLDECTRL1_VAL	0x0035003d
#define MX6_MMDC_P1_MPWLDECTRL0_VAL	0x001e0022
#define MX6_MMDC_P1_MPWLDECTRL1_VAL	0x00220031
#define WALAT	1

#include "../common/mx6/ddr-setup.cfg"
#define RANK 0
#define BUS_WIDTH 64
/* H5TC2G63FFR-PBA */
#include "../common/mx6/800mhz_128mx16.cfg"
#include "../common/mx6/clocks.cfg"
