if TARGET_ASH

config SYS_CPU
	default "armv7"

config SYS_BOARD
	default "ash"

config SYS_VENDOR
	default "boundary"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "ash"

config BOARD_LATE_SPECIFIC_INIT
	bool
	default	y

source "board/boundary/common/Kconfig"

endif
