if TARGET_NITROGEN8M_REV0

config SYS_BOARD
	default "nitrogen8m_rev0"

config SYS_VENDOR
	default "boundary"

config SYS_CONFIG_NAME
	default "nitrogen8m_rev0"

source "board/freescale/common/Kconfig"

endif
