if TARGET_MED

config SYS_CPU
	default "armv7"

config SYS_BOARD
	default "med"

config SYS_VENDOR
	default "boundary"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "med"

source "board/boundary/common/Kconfig"

endif
