// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2019 NXP
 */
#include "imx8mq-u-boot.dtsi"

#define GP_I2C4_SN65DSI83_IRQ <&gpio1 1 GPIO_ACTIVE_HIGH>

/ {
	aliases {
		mipi_dsi_bridge = &mipi_dsi_bridge;
		t_hdmi = &t_hdmi;
	};

	wdt-reboot {
		compatible = "wdt-reboot";
		wdt = <&wdog1>;
		u-boot,dm-spl;
	};
};

&{/soc@0} {
	u-boot,dm-pre-reloc;
	u-boot,dm-spl;
};

&aips1 {
	u-boot,dm-spl;
	u-boot,dm-pre-reloc;
};

&aips2 {
	u-boot,dm-spl;
};

&aips3 {
	u-boot,dm-spl;
};

&ckil {
	u-boot,dm-spl;
	u-boot,dm-pre-reloc;
};

&clk {
	u-boot,dm-spl;
	u-boot,dm-pre-reloc;
	/delete-property/ assigned-clocks;
	/delete-property/ assigned-clock-parents;
	/delete-property/ assigned-clock-rates;
};

&clk_ext1 {
	u-boot,dm-spl;
	u-boot,dm-pre-reloc;
};

&clk_ext2 {
	u-boot,dm-spl;
	u-boot,dm-pre-reloc;
};

&clk_ext3 {
	u-boot,dm-spl;
	u-boot,dm-pre-reloc;
};

&clk_ext4 {
	u-boot,dm-spl;
	u-boot,dm-pre-reloc;
};

&dcss {
	disp-dev = "hdmi_disp";
};

&dummy {
	u-boot,dm-spl;
	u-boot,dm-pre-reloc;
};

&gpio1 {
	u-boot,dm-spl;
};

&gpio2 {
	u-boot,dm-spl;
};

&gpio3 {
	u-boot,dm-spl;
};

&gpio4 {
	u-boot,dm-spl;
};

&gpio5 {
	u-boot,dm-spl;
};

&hdmi {
	compatible = "fsl,imx8mq-hdmi";

	display-timings {
		native-mode = <&t_hdmi>;

		t_hdmi: t-hdmi-default {
			clock-frequency = <74250000>;
			hactive = <1280>;
			vactive = <720>;
			hback-porch = <220>;
			hfront-porch = <110>;
			hsync-len = <40>;
			vback-porch = <20>;
			vfront-porch = <5>;
			vsync-len = <5>;
		};
	};
};

&i2c1 {
	u-boot,dm-spl;
};

&iomuxc {
	u-boot,dm-spl;
};

&lcdif {
	display = <&fb_mipi>;
	status = "okay";

	/delete-node/ port;

	port {
		lcdif_out: endpoint {
			remote-endpoint = <&mipi_dsi_bridge_in>;
		};
	};
};

&mipi_ref2(lt8912, 2) {
	port {
		lt8912_2_from_panel: endpoint {
			remote-endpoint = <&panel_to_lt8912_2>;
		};
	};
};

&mipi_dsi {
	input-source = "lcdif";

	fb_mipi: panel@0 {
		bits-per-pixel = <24>;
		bus-width = <24>;
		clocks = <&dsim_clk 0>,
			 <&clk IMX8MQ_CLK_LCDIF_PIXEL>;

		mipi_to_lvds: mipi-to-lvds {
			interrupts-gpios = GP_I2C4_SN65DSI83_IRQ;
		};

		/delete-node/ port;
		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@1 {
				panel1_in: endpoint {
					remote-endpoint = <&mipi_dsi_bridge_out>;
				};
			};

			port@2 {
				panel_to_lt8912: endpoint {
					remote-endpoint = <&lt8912_from_panel>;
				};
			};

			port@3 {
				panel_to_lt8912_2: endpoint {
					remote-endpoint = <&lt8912_2_from_panel>;
				};
			};
		};
	};

	/delete-node/ ports;
};

&mipi_dsi_bridge {
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			mipi_dsi_bridge_in: endpoint {
				remote-endpoint = <&lcdif_out>;
			};
		};

		port@1 {
			mipi_dsi_bridge_out: endpoint {
				remote-endpoint = <&panel1_in>;
			};
		};
	};
};

&osc_25m {
	u-boot,dm-spl;
	u-boot,dm-pre-reloc;
};

&osc_27m {
	u-boot,dm-spl;
	u-boot,dm-pre-reloc;
};

&mipi_ref(pca9546) {
	i2c4@0 {
		lt8912@48 {
			port {
				lt8912_from_panel: endpoint {
					remote-endpoint = <&panel_to_lt8912>;
				};
			};
		};
	};
};

&phy_27m {
	u-boot,dm-spl;
	u-boot,dm-pre-reloc;
};

&pinctrl_i2c1 {
	u-boot,dm-spl;
};

&pinctrl_uart2 {
	u-boot,dm-spl;
};

&pinctrl_usb3_0 {
	u-boot,dm-spl;
};

&pinctrl_usb3_1 {
	u-boot,dm-spl;
};

&pinctrl_usdhc1 {
	u-boot,dm-spl;
};

&pinctrl_usdhc1_100mhz {
	u-boot,dm-spl;
};

&pinctrl_usdhc1_200mhz {
	u-boot,dm-spl;
};

&pinctrl_usdhc2 {
	u-boot,dm-spl;
};

&pinctrl_usdhc2_100mhz {
	u-boot,dm-spl;
};

&pinctrl_usdhc2_200mhz {
	u-boot,dm-spl;
};

&reg_vref_1v8 {
	u-boot,dm-spl;
};

&reg_vref_3v3 {
	u-boot,dm-spl;
};

&uart1 {
	u-boot,dm-spl;
};

&uart2 {
	status = "disabled";
};

&uart3 {
	status = "disabled";
};

&uart4 {
	status = "disabled";
};

&usb3_phy0 {
	u-boot,dm-spl;
};

&usb3_phy1 {
	u-boot,dm-spl;
};

&usb_dwc3_0 {
	u-boot,dm-spl;
};

&usb_dwc3_1 {
	u-boot,dm-spl;
};

&usdhc1 {
	cap-mmc-highspeed;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	reset-gpios = GP_EMMC_RESET;
	u-boot,dm-spl;
};

&usdhc2 {
	status = "disabled";
};

&wdog1 {
	u-boot,dm-spl;
};
