// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2022 NXP
 */

/dts-v1/;

#include "imx93.dtsi"

/ {
	model = "NXP i.MX93 Boundary SMARC Board";
	compatible = "fsl,imx93-9x9-qsb", "fsl,imx93";

	chosen {
		stdout-path = &lpuart1;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0 0x10000000>;
			linux,cma-default;
		};

		vdev0vring0: vdev0vring0@a4000000 {
			reg = <0 0xa4000000 0 0x8000>;
			no-map;
		};

		vdev0vring1: vdev0vring1@a4008000 {
			reg = <0 0xa4008000 0 0x8000>;
			no-map;
		};

		vdev1vring0: vdev1vring0@a4000000 {
			reg = <0 0xa4010000 0 0x8000>;
			no-map;
		};

		vdev1vring1: vdev1vring1@a4018000 {
			reg = <0 0xa4018000 0 0x8000>;
			no-map;
		};

		rsc_table: rsc-table@2021f000 {
			reg = <0 0x2021f000 0 0x1000>;
			no-map;
		};

		vdevbuffer: vdevbuffer@a4020000 {
			compatible = "shared-dma-pool";
			reg = <0 0xa4020000 0 0x100000>;
			no-map;
		};
	};

	cm33: imx93-cm33 {
		compatible = "fsl,imx93-cm33";
		mbox-names = "tx", "rx", "rxdb";
		mboxes = <&mu1 0 1
			  &mu1 1 1
			  &mu1 3 1>;
		memory-region = <&vdevbuffer>, <&vdev0vring0>, <&vdev0vring1>,
				<&vdev1vring0>, <&vdev1vring1>, <&rsc_table>;
		fsl,startup-delay-ms = <500>;
	};

	reg_usdhc2_vmmc: regulator-usdhc2 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_usdhc2_vmmc>;
		regulator-name = "VSD_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio3 7 GPIO_ACTIVE_HIGH>;
		off-on-delay-us = <12000>;
		enable-active-high;
	};

	reg_vref_5v0: regulator-5v0 {
		compatible = "regulator-fixed";
                regulator-name = "VDD_5V0";
                regulator-min-microvolt = <5000000>;
                regulator-max-microvolt = <5000000>;
        };

	reg_vdd_3v3: regulator-vdd {
		compatible = "regulator-fixed";
		regulator-name = "VDD_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	reg_vref_1v8: regulator-adc-vref {
		compatible = "regulator-fixed";
		regulator-name = "vref_1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	usdhc3_pwrseq: usdhc3_pwrseq {
                compatible = "mmc-pwrseq-simple";
                reset-gpios = <&gpio1 10 GPIO_ACTIVE_LOW>; /* SDIO_RESET */
        };

	sound-wm8962 {
		compatible = "fsl,imx-audio-wm8962";
		model = "wm8962-audio";
		audio-cpu = <&sai1>;
		audio-codec = <&codec>;
		codec-master;
		audio-routing =
                        "Headphone Jack", "HPOUTL",
                        "Headphone Jack", "HPOUTR",
                        "Ext Spk", "SPKOUTL",
                        "Ext Spk", "SPKOUTR",
                        "AMIC", "MICBIAS",
                        "IN1R", "AMIC",
                        "IN2R", "AMIC",
                        "IN3L", "AMIC",
                        "IN3R", "AMIC";
	};

};

&adc1 {
	vref-supply = <&reg_vref_1v8>;
	status = "okay";
};

&eqos {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_eqos>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy1>;
	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
		clock-frequency = <5000000>;

		ethphy1: ethernet-phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			// reg = <1>;
			reg-mask = <0x90>;
			eee-broken-1000t;
			at803x,hib-disabled;
			interrupts-extended = <&gpio2 29 GPIO_ACTIVE_LOW>;
			reset-gpios =<&pcal6534 1 GPIO_ACTIVE_LOW>;
		};
	};
};

&fec {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_fec>;
        phy-reset-gpios = <&pcal6534 0 GPIO_ACTIVE_LOW>;
        phy-mode = "rgmii-id";
        phy-handle = <&ethphy2>;
        fsl,magic-packet;
        status = "okay";

        mdio {
                #address-cells = <1>;
                #size-cells = <0>;

                ethphy2: ethernet-phy@2 {
                        compatible = "ethernet-phy-ieee802.3-c22";
                        eee-broken-1000t;
                        interrupts-extended = <&gpio2 16 IRQ_TYPE_LEVEL_LOW>;
                        reg-mask = <0x90>;
                };
        };
};

&flexspi1 { /* TODO SimonG This is SD3 SDIO NOT SPI. Check the Linux dts */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexspi>;
	assigned-clock-rates = <80000000>;
	status = "okay";
};

&lpi2c1 { /* PMIC I2C bus, but the PMIC is on lpi2c2 !!! */
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c1>;
	pinctrl-1 = <&pinctrl_lpi2c1>;
	status = "okay";

};

&lpi2c2 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c2>;
	pinctrl-1 = <&pinctrl_lpi2c2>;
	status = "okay";

	pmic@25 {
		compatible = "nxp,pca9451a";
		reg = <0x25>;
		interrupt-parent = <&pcal6534>;
		interrupts = <11 IRQ_TYPE_LEVEL_LOW>;

		regulators {
			buck1: BUCK1 {
				regulator-name = "BUCK1";
				regulator-min-microvolt = <650000>;
				regulator-max-microvolt = <2237500>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
			};

			buck2: BUCK2 {
				regulator-name = "BUCK2";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <2187500>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
			};

			buck4: BUCK4{
				regulator-name = "BUCK4";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck5: BUCK5{
				regulator-name = "BUCK5";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck6: BUCK6 {
				regulator-name = "BUCK6";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo1: LDO1 {
				regulator-name = "LDO1";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo4: LDO4 {
				regulator-name = "LDO4";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo5: LDO5 {
				regulator-name = "LDO5";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};

	pcal6534: gpio@22 {
		compatible = "nxp,pcal6534";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pcal6534>;
		reg = <0x22>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;
		interrupt-parent = <&gpio2>;
		interrupts = <17 IRQ_TYPE_LEVEL_LOW>;
		// reset-gpios = <&gpio2 28 GPIO_ACTIVE_LOW>; /* GPIO_IO28 */
	};

	i2cmux9546@70 {
                pinctrl-names = "default";
                compatible = "nxp,pca9546";
                reg = <0x70>;
                reset-gpios = <&pcal6534 32 GPIO_ACTIVE_LOW>; /* P4_0 */
                #address-cells = <1>;
                #size-cells = <0>;

                lpi2c2a: lpi2c2@csi0 {
                        /* CSI0 I2C */
                        clock-frequency = <100000>;
                        reg = <0>;
                        #address-cells = <1>;
                        #size-cells = <0>;
                };

                lpi2c2b: lpi2c2@lcd {
                        /* LCD I2C */
                        clock-frequency = <100000>;
                        reg = <1>;
                        #address-cells = <1>;
                        #size-cells = <0>;
                };

                lpi2c2c: lpi2c2@csi1 {
                        /* CSI1 I2C */
                        clock-frequency = <100000>;
                        reg = <2>;
                        #address-cells = <1>;
                        #size-cells = <0>;
                };

                lpi2c2d: lpi2c2@nc {
			/* NC */
                        clock-frequency = <100000>;
                        reg = <3>;
                        #address-cells = <1>;
                        #size-cells = <0>;
                };
        };
};

&lpi2c2b { /* LCD I2C */
	i2cmuxlcd9546@70 { /* On SMARC carrier */
                pinctrl-names = "default";
                compatible = "nxp,pca9546";
                reg = <0x70>;
                reset-gpios = <&pcal6534 29 GPIO_ACTIVE_LOW>; /* P3_5 / GPIO_13 */
                #address-cells = <1>;
                #size-cells = <0>;

                muxlcda: muxlcd@exp1 {
                        /* EXP1 I2C */
                        clock-frequency = <100000>;
                        reg = <0>;
                        #address-cells = <1>;
                        #size-cells = <0>;
                };

                muxlcdb: muxlcd@exp2 {
                        /* EXP2 I2C */
                        clock-frequency = <100000>;
                        reg = <1>;
                        #address-cells = <1>;
                        #size-cells = <0>;
                };

                muxlcdc: muxlcd@dsi0 {
                        /* DSI0 I2C */
                        clock-frequency = <100000>;
                        reg = <2>;
                        #address-cells = <1>;
                        #size-cells = <0>;
                };

                muxlcdd: muxlcd@dsi1 {
                        /* DSI1 I2C */
                        clock-frequency = <100000>;
                        reg = <3>;
                        #address-cells = <1>;
                        #size-cells = <0>;
                };
        };
};


&lpi2c3 { /* SM_I2C_GP */
        #address-cells = <1>;
        #size-cells = <0>;
        clock-frequency = <400000>; // 100000 ??
        pinctrl-names = "default", "sleep";
        pinctrl-0 = <&pinctrl_lpi2c3>;
        pinctrl-1 = <&pinctrl_lpi2c3>;
        status = "okay";

	/* On bd-universal-smarc-carrier */
	mux9546-gp@73 {
                compatible = "nxp,pca9546";
                reg = <0x73>;
                reset-gpios = <&gpio2 2 GPIO_ACTIVE_LOW>; /* SMARC GPIO6*/
                #address-cells = <1>;
                #size-cells = <0>;

                i2c_gp_a: SM_I2C_GP@rtc {
                        /* RTC */
                        clock-frequency = <100000>;
                        reg = <0>;
                        #address-cells = <1>;
                        #size-cells = <0>;
                };

                i2c_gp_b: SM_I2C_GP@usb-c {
                        /* USB C */
                        clock-frequency = <100000>;
                        reg = <1>;
                        #address-cells = <1>;
                        #size-cells = <0>;
                };

                i2c_gp_c: SM_I2C_GP@audio {
                        /* audio */
                        clock-frequency = <100000>;
                        reg = <2>;
                        #address-cells = <1>;
                        #size-cells = <0>;
                };

                i2c_gp_d: SM_I2C_GP@pcie {
                        /* pcie */
                        clock-frequency = <100000>;
                        reg = <3>;
                        #address-cells = <1>;
                        #size-cells = <0>;
                };
        };
};

&i2c_gp_a {
        rv3028: rtc@52 {
                backup-switchover-dsm;
                #clock-cells = <0>;
                compatible = "microcrystal,rv3028";
                reg = <0x52>;
                interrupts-extended = <24 IRQ_TYPE_LEVEL_LOW>; /* SMARC GPIO12 */
                wakeup-source;
        };
};

&i2c_gp_c {
	codec: wm8962@1a {
		compatible = "wlf,wm8962";
		reg = <0x1a>;
		clocks = <&clk IMX93_CLK_SAI3_GATE>;
		AVDD-supply = <&reg_vref_1v8>;
                CPVDD-supply = <&reg_vref_1v8>;
                DBVDD-supply = <&reg_vdd_3v3>;
                DCVDD-supply = <&reg_vref_1v8>;
                MICVDD-supply = <&reg_vdd_3v3>;
                PLLVDD-supply = <&reg_vref_1v8>;
                SPKVDD1-supply = <&reg_vref_5v0>;
                SPKVDD2-supply = <&reg_vref_5v0>;
		gpio-cfg = <
                        0x0000 /* n/c */
                        0x0000 /* gpio2: */
                        0x0000 /* gpio3: */
                        0x0000 /* n/c */
                        0x8081 /* gpio5:HP detect */
                        0x8095 /* gpio6:Mic detect */
                >;
	};
};

&lpuart1 { /* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&lpuart5 {
	/* BT */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	status = "disabled";
};

&mu1 {
	status = "okay";
};

&mu2 {
	status = "okay";
};

&sai1 { /* SMARC I2S0 wm8962 */
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai1>;
	assigned-clocks = <&clk IMX93_CLK_SAI1>;
	assigned-clock-parents = <&clk IMX93_CLK_AUDIO_PLL>;
	assigned-clock-rates = <12288000>;
	status = "okay";
};

&sai3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai3>;
	pinctrl-assert-gpios = <&pcal6534 22 GPIO_ACTIVE_LOW>;
	assigned-clocks = <&clk IMX93_CLK_SAI3>;
	assigned-clock-parents = <&clk IMX93_CLK_AUDIO_PLL>;
	assigned-clock-rates = <12288000>;
	fsl,sai-mclk-direction-output;
	fsl,sai-synchronous-rx;
	status = "okay";
};

&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1>;
	pinctrl-2 = <&pinctrl_usdhc1>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-1 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-2 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	cd-gpios = <&gpio3 00 GPIO_ACTIVE_LOW>;
	vmmc-supply = <&reg_usdhc2_vmmc>;
	bus-width = <4>;
	status = "okay";
	no-sdio;
	no-mmc;
};

&usdhc3 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc3>;
	pinctrl-1 = <&pinctrl_usdhc3>;
	pinctrl-2 = <&pinctrl_usdhc3>;
	mmc-pwrseq = <&usdhc3_pwrseq>;
	pinctrl-assert-gpios = <&pcal6534 13 GPIO_ACTIVE_HIGH>;
	bus-width = <4>;
	keep-power-in-suspend;
	non-removable;
	wakeup-source;
	fsl,sdio-async-interrupt-enabled;
	status = "okay";

	wifi_wake_host {
		compatible = "nxp,wifi-wake-host";
		interrupt-parent = <&pcal6534>;
		/* pcal6534 IO expander limitation: only support edge-triggered irq */
		interrupts = <5 IRQ_TYPE_EDGE_FALLING>;
		interrupt-names = "host-wake";
	};
};

&iomuxc {
	pinctrl_eqos: eqosgrp {
		fsl,pins = <
			MX93_PAD_ENET1_MDC__ENET_QOS_MDC			0x57e
			MX93_PAD_ENET1_MDIO__ENET_QOS_MDIO			0x57e
			MX93_PAD_ENET1_RD0__ENET_QOS_RGMII_RD0			0x57e
			MX93_PAD_ENET1_RD1__ENET_QOS_RGMII_RD1			0x57e
			MX93_PAD_ENET1_RD2__ENET_QOS_RGMII_RD2			0x57e
			MX93_PAD_ENET1_RD3__ENET_QOS_RGMII_RD3			0x57e
			MX93_PAD_ENET1_RXC__CCM_ENET_QOS_CLOCK_GENERATE_RX_CLK	0x5fe
			MX93_PAD_ENET1_RX_CTL__ENET_QOS_RGMII_RX_CTL		0x57e
			MX93_PAD_ENET1_TD0__ENET_QOS_RGMII_TD0			0x57e
			MX93_PAD_ENET1_TD1__ENET_QOS_RGMII_TD1			0x57e
			MX93_PAD_ENET1_TD2__ENET_QOS_RGMII_TD2			0x57e
			MX93_PAD_ENET1_TD3__ENET_QOS_RGMII_TD3			0x57e
			MX93_PAD_ENET1_TXC__CCM_ENET_QOS_CLOCK_GENERATE_TX_CLK	0x5fe
			MX93_PAD_ENET1_TX_CTL__ENET_QOS_RGMII_TX_CTL		0x57e
			MX93_PAD_GPIO_IO29__GPIO2_IO29				0x31e
		>;
	};

	pinctrl_fec: fecgrp {
                fsl,pins = <
			MX93_PAD_ENET2_MDC__ENET1_MDC				0x57e
			MX93_PAD_ENET2_MDIO__ENET1_MDIO				0x57e
			MX93_PAD_ENET2_RD0__ENET1_RGMII_RD0			0x57e
			MX93_PAD_ENET2_RD1__ENET1_RGMII_RD1			0x57e
			MX93_PAD_ENET2_RD2__ENET1_RGMII_RD2			0x57e
			MX93_PAD_ENET2_RD3__ENET1_RGMII_RD3			0x57e
			MX93_PAD_ENET2_RXC__ENET1_RGMII_RXC			0x57e
			MX93_PAD_ENET2_RX_CTL__ENET1_RGMII_RX_CTL		0x57e
			MX93_PAD_ENET2_TD0__ENET1_RGMII_TD0			0x57e
			MX93_PAD_ENET2_TD1__ENET1_RGMII_TD1			0x57e
			MX93_PAD_ENET2_TD2__ENET1_RGMII_TD2			0x57e
			MX93_PAD_ENET2_TD3__ENET1_RGMII_TD3			0x57e
			MX93_PAD_ENET2_TXC__ENET1_RGMII_TXC			0x57e
			MX93_PAD_ENET2_TX_CTL__ENET1_RGMII_TX_CTL		0x57e
			MX93_PAD_GPIO_IO16__GPIO2_IO16				0x31e
                >;
        };

	pinctrl_flexspi: flexspigrp {
		fsl,pins = <
			MX93_PAD_SD3_CMD__FLEXSPI1_A_SS0_B	0x42
			MX93_PAD_SD3_CLK__FLEXSPI1_A_SCLK	0x42
			MX93_PAD_SD3_DATA0__FLEXSPI1_A_DATA00	0x42
			MX93_PAD_SD3_DATA1__FLEXSPI1_A_DATA01	0x42
			MX93_PAD_SD3_DATA2__FLEXSPI1_A_DATA02	0x42
			MX93_PAD_SD3_DATA3__FLEXSPI1_A_DATA03	0x42
		>;
	};

	pinctrl_lpi2c1: lpi2c1grp {
		fsl,pins = <
			MX93_PAD_I2C1_SCL__LPI2C1_SCL			0x40000b9e
			MX93_PAD_I2C1_SDA__LPI2C1_SDA			0x40000b9e
		>;
	};

	pinctrl_lpi2c2: lpi2c2grp {
		fsl,pins = <
			MX93_PAD_I2C2_SCL__LPI2C2_SCL			0x40000b9e
			MX93_PAD_I2C2_SDA__LPI2C2_SDA			0x40000b9e
		>;
	};

	pinctrl_lpi2c3: lpi2c3grp {
                fsl,pins = <
			MX93_PAD_GPIO_IO00__LPI2C3_SDA			0x40000b9e
			MX93_PAD_GPIO_IO01__LPI2C3_SCL			0x40000b9e
			MX93_PAD_GPIO_IO02__GPIO2_IO02			0x31e
			MX93_PAD_GPIO_IO24__GPIO2_IO24			0x31e
		>;
        };

	pinctrl_pcal6534: pcal6534grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO28__GPIO2_IO28			0x31e
			MX93_PAD_GPIO_IO17__GPIO2_IO17			0x31e
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX93_PAD_UART1_RXD__LPUART1_RX			0x31e
			MX93_PAD_UART1_TXD__LPUART1_TX			0x31e
		>;
	};

	pinctrl_uart5: uart5grp {
		fsl,pins = <
			MX93_PAD_DAP_TDO_TRACESWO__LPUART5_TX	0x31e
			MX93_PAD_DAP_TDI__LPUART5_RX		0x31e
			MX93_PAD_DAP_TMS_SWDIO__LPUART5_RTS_B	0x31e
			MX93_PAD_DAP_TCLK_SWCLK__LPUART5_CTS_B	0x31e
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			MX93_PAD_SD1_CLK__USDHC1_CLK		0x15fe
			MX93_PAD_SD1_CMD__USDHC1_CMD		0x13fe
			MX93_PAD_SD1_DATA0__USDHC1_DATA0	0x13fe
			MX93_PAD_SD1_DATA1__USDHC1_DATA1	0x13fe
			MX93_PAD_SD1_DATA2__USDHC1_DATA2	0x13fe
			MX93_PAD_SD1_DATA3__USDHC1_DATA3	0x13fe
			MX93_PAD_SD1_DATA4__USDHC1_DATA4	0x13fe
			MX93_PAD_SD1_DATA5__USDHC1_DATA5	0x13fe
			MX93_PAD_SD1_DATA6__USDHC1_DATA6	0x13fe
			MX93_PAD_SD1_DATA7__USDHC1_DATA7	0x13fe
			MX93_PAD_SD1_STROBE__USDHC1_STROBE	0x15fe
		>;
	};

	pinctrl_reg_usdhc2_vmmc: regusdhc2vmmcgrp {
		fsl,pins = <
			MX93_PAD_SD2_RESET_B__GPIO3_IO07	0x31e
		>;
	};

	pinctrl_usdhc2_gpio: usdhc2gpiogrp {
		fsl,pins = <
			MX93_PAD_SD2_CD_B__GPIO3_IO00		0x31e
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			MX93_PAD_SD2_CLK__USDHC2_CLK		0x15fe
			MX93_PAD_SD2_CMD__USDHC2_CMD		0x13fe
			MX93_PAD_SD2_DATA0__USDHC2_DATA0	0x13fe
			MX93_PAD_SD2_DATA1__USDHC2_DATA1	0x13fe
			MX93_PAD_SD2_DATA2__USDHC2_DATA2	0x13fe
			MX93_PAD_SD2_DATA3__USDHC2_DATA3	0x13fe
			MX93_PAD_SD2_VSELECT__USDHC2_VSELECT	0x51e
		>;
	};

	pinctrl_usdhc3: usdhc3grp {
		fsl,pins = <
			MX93_PAD_SD3_CLK__USDHC3_CLK			0x15fe
			MX93_PAD_SD3_CMD__USDHC3_CMD			0x13fe
			MX93_PAD_SD3_DATA0__USDHC3_DATA0		0x13fe
			MX93_PAD_SD3_DATA1__USDHC3_DATA1        	0x13fe
			MX93_PAD_SD3_DATA2__USDHC3_DATA2        	0x13fe
			MX93_PAD_SD3_DATA3__USDHC3_DATA3        	0x13fe
			MX93_PAD_PDM_BIT_STREAM1__GPIO1_IO10		0x31e
		>;
	};

	pinctrl_sai1: sai1grp {
		fsl,pins = <
			MX93_PAD_SAI1_TXC__SAI1_TX_BCLK			0x31e
			MX93_PAD_SAI1_TXFS__SAI1_TX_SYNC		0x31e
			MX93_PAD_SAI1_TXD0__SAI1_TX_DATA00		0x31e
			MX93_PAD_SAI1_RXD0__SAI1_RX_DATA00		0x31e
		>;
	};

	pinctrl_sai3: sai3grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO12__SAI3_RX_SYNC		0x31e
			MX93_PAD_GPIO_IO18__SAI3_RX_BCLK		0x31e
			MX93_PAD_GPIO_IO17__SAI3_MCLK		0x31e
			MX93_PAD_GPIO_IO19__SAI3_TX_DATA00		0x31e
			MX93_PAD_GPIO_IO20__SAI3_RX_DATA00		0x31e
		>;
	};

	pinctrl_lcdif: lcdifgrp {
		fsl,pins = <
			MX93_PAD_GPIO_IO00__MEDIAMIX_DISP_CLK           0x31e
			MX93_PAD_GPIO_IO01__MEDIAMIX_DISP_DE            0x31e
			MX93_PAD_GPIO_IO02__MEDIAMIX_DISP_VSYNC         0x31e
			MX93_PAD_GPIO_IO03__MEDIAMIX_DISP_HSYNC         0x31e
			MX93_PAD_GPIO_IO04__MEDIAMIX_DISP_DATA00        0x31e
			MX93_PAD_GPIO_IO05__MEDIAMIX_DISP_DATA01        0x31e
			MX93_PAD_GPIO_IO06__MEDIAMIX_DISP_DATA02        0x31e
			MX93_PAD_GPIO_IO07__MEDIAMIX_DISP_DATA03        0x31e
			MX93_PAD_GPIO_IO08__MEDIAMIX_DISP_DATA04        0x31e
			MX93_PAD_GPIO_IO09__MEDIAMIX_DISP_DATA05        0x31e
			MX93_PAD_GPIO_IO10__MEDIAMIX_DISP_DATA06        0x31e
			MX93_PAD_GPIO_IO11__MEDIAMIX_DISP_DATA07        0x31e
			MX93_PAD_GPIO_IO12__MEDIAMIX_DISP_DATA08        0x31e
			MX93_PAD_GPIO_IO13__MEDIAMIX_DISP_DATA09        0x31e
			MX93_PAD_GPIO_IO14__MEDIAMIX_DISP_DATA10        0x31e
			MX93_PAD_GPIO_IO15__MEDIAMIX_DISP_DATA11        0x31e
			MX93_PAD_GPIO_IO16__MEDIAMIX_DISP_DATA12        0x31e
			MX93_PAD_GPIO_IO17__MEDIAMIX_DISP_DATA13        0x31e
			MX93_PAD_GPIO_IO18__MEDIAMIX_DISP_DATA14        0x31e
			MX93_PAD_GPIO_IO19__MEDIAMIX_DISP_DATA15        0x31e
			MX93_PAD_GPIO_IO20__MEDIAMIX_DISP_DATA16        0x31e
			MX93_PAD_GPIO_IO21__MEDIAMIX_DISP_DATA17        0x31e
		>;
	};
};
