CONFIG_ARM=y
CONFIG_TARGET_ASH=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/boundary/ash/ash.cfg,MX6DL,DDR_MB=1024,DEFCONFIG=\"ash\""
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
CONFIG_SPI_FLASH=y
