CONFIG_ARM=y
CONFIG_TARGET_H4=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/boundary/h4/h4.cfg,MX6Q,DDR_MB=2048,DEFCONFIG=\"h4\""
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
CONFIG_SPI_FLASH=y
