CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/boundary/nitrogen6x/nitrogen6dl.cfg,MX6DL,DDR_MB=1024,BOARD_NAME=\"Nit6_LUM_DL\",BOARD_TYPE=\"nitrogen6x\",DEFCONFIG=\"nitrogen6_lum_dl\""
CONFIG_ARM=y
CONFIG_TARGET_NITROGEN6X=y
