CONFIG_ARM=y
CONFIG_ARCH_MX5=y
CONFIG_TARGET_NITROGEN51_VM=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/boundary/nitrogen51_vm/nitrogen51_vm.cfg,MX51,DDR_MB=256,DEFCONFIG=\"nitrogen51_vm_256m\""
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
CONFIG_CMD_GPIO=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_SPANSION=y
CONFIG_SPI_FLASH_SST=y
