CONFIG_ARM=y
CONFIG_TARGET_NITROGEN6_MAX=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/boundary/nitrogen6_max/nitrogen6qp_max4g.cfg,MX6QP,DDR_MB=3840,DEFCONFIG=\"nitrogen6qp_max\""
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
CONFIG_SPI_FLASH=y
