if TARGET_MX6_R

config SYS_CPU
	default "armv7"

config SYS_BOARD
	default "mx6_r"

config SYS_VENDOR
	default "boundary"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "mx6_r"

source "board/boundary/common/Kconfig"

endif
