if TARGET_NITROGEN8M

config SYS_BOARD
	default "nitrogen8m"

config SYS_VENDOR
	default "boundary"

config SYS_CONFIG_NAME
	default "nitrogen8m"

config IMX_CONFIG
	default "arch/arm/mach-imx/imx8m/imximage.cfg"

config DEFCONFIG
	string "unknown"

endif
