if TARGET_CNT

config SYS_BOARD
	default "cnt"

config SYS_VENDOR
	default "boundary"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "cnt"

source "board/boundary/common/Kconfig"

endif
