if TARGET_HL8MM

config SYS_BOARD
	default "hl8mm"

config SYS_VENDOR
	default "boundary"

config SYS_CONFIG_NAME
	default "hl8mm"

config DDR_RANK_BITS
	int "ddr rank bits"
	default 1

source "board/boundary/common/Kconfig"

endif
