if ARCH_IMX8M

config IMX8M
	bool
	select ROM_UNIFIED_SECTIONS

config IMX8MQ
	bool
	select IMX8M

config IMX8MM
	bool
	select IMX8M

choice
	prompt	"NXP i.MX8M board select"
	optional

config TARGET_NITROGEN8M
	bool "nitrogen8m"
	select IMX8MQ
	select SUPPORT_SPL

config TARGET_NITROGEN8M_SOM
	bool "nitrogen8m_som"
	select IMX8MQ
	select SUPPORT_SPL

config TARGET_IMX8MM_EVK
	bool "imx8mm_evk"
	select IMX8MM
	select SUPPORT_SPL

endchoice

config SYS_SOC
	default "imx8m"

source "board/boundary/nitrogen8m/Kconfig"
source "board/boundary/nitrogen8m_som/Kconfig"
source "board/freescale/imx8mm_evk/Kconfig"
endif
