if ARCH_IMX8M

config IMX8M
	bool
	select ROM_UNIFIED_SECTIONS
	select ARMV8_SPL_EXCEPTION_VECTORS

config IMX8MQ
	bool
	select IMX8M

config IMX8MM
	bool "imx8mm"
	select IMX8M

config IMX8MN
	bool "imx8mn"
	select IMX8M

choice
	prompt	"i.MX8M board select"
	optional

config TARGET_IMX8MM_EVK
	bool "imx8mm_evk"
	select IMX8MM
	select SUPPORT_SPL

config TARGET_IMX8MN_EVK
	bool "imx8mn DDR4 EVK board"
	select IMX8MN
	select SUPPORT_SPL
	select IMX8M_DDR4

config BOUNDARY_BOARD_IMX8M
	bool "Boundary Devices i.MX8M board"

endchoice

menu "Boundary Devices i.MX8M boards"
	depends on BOUNDARY_BOARD_IMX8M

source "board/boundary/Kconfig-imx8m"
endmenu

config SYS_SOC
	default "imx8m"

source "board/freescale/imx8mm_evk/Kconfig"
source "board/freescale/imx8mn_evk/Kconfig"
endif
