if ARCH_IMX8M

config IMX8M
	bool
	select ROM_UNIFIED_SECTIONS

config IMX8MQ
	bool
	select IMX8M

config IMX8MM
	bool
	select IMX8M

choice
	prompt	"NXP i.MX8M board select"
	optional

config TARGET_NITROGEN8M
	bool "nitrogen8m"
	select IMX8MQ
	select SUPPORT_SPL

endchoice

config SYS_SOC
	default "imx8m"

source "board/boundary/nitrogen8m/Kconfig"
endif
