if TARGET_NITROGEN8M_SOM

config SYS_BOARD
	default "nitrogen8m_som"

config SYS_VENDOR
	default "boundary"

config SYS_CONFIG_NAME
	default "nitrogen8m_som"

config USDHC2_SD
	bool "An SD card is on carrier instead of wifi"

source "board/boundary/common/Kconfig"

endif
